@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





body {
    background-color: #FAFAFA;
}

.fixed-nav-bar {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 80px; 
}

/* .hero-header {
    background-image: url(./hero-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */


/* service card*/ 
.service-card {
    width: 225px;
    height: 140px;
    transition: all .5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
               -15px -15px 30px rgba(60, 60, 60, 0.082);
    text-align: center;
    overflow: hidden;
  }
  
  .service-card:hover {
    height: 350px;
    background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
  }
  
  .service-card>.service-card-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(25, 82, 149),rgba(5, 5, 5));
    margin-bottom: 16px;
  }
  
  .service-card>.service-card-header>.service-card-img-box {
    width: 60px;
  }
  
  .service-card>.service-card-header>.service-card-title {
    font-family: "Figtree", "sans-Serif";
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 0 14px 0;
    transition: all .5s;
    color: #edededc5;
  }
  
  .service-card:hover>.service-card-header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  }
  
  .service-card:hover>.service-card>.service-card-header>.service-card-title {
    padding: 0;
  }
  
  .service-card>.service-card-content {
    display: block;
    text-align: left;
    color: #050505;
    margin: 0 15px;
  }
  
  .service-card>.service-card-content p {
    font-family: "Figtree", "sans-Serif";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
    transition: all .5s;
  }
  
  .service-card>.service-card-content a {
    color: #195295;
    cursor: pointer;
    transition: all .5s;
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
}
  
  .service-card>.service-card-content>.service-card-btn-link:hover {
    border-bottom: 1px solid #195295;
}


/* brief information card */ 
.brief-card {
    width: 750px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
.brief-card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}
   
.brief-card-button {
    display: block; /* Ensures it behaves like a button */
    width: 60%;
    text-align: center;
    border-radius: 1rem;
    background-color: #195295;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); /* Centers the link horizontally */
    opacity: 0;
    transition: 0.3s ease-out;
    text-decoration: none; /* Removes underline */
}
   
.brief-card-text-body {
    font-family: "Figtree", "sans-Serif";
    font-weight: 400;
    font-size: 16px;
    color: rgb(134, 134, 134);
}
   
.brief-card-text-title {
    font-family: "Figtree", "sans-Serif";
    font-weight: 700;
    font-size: 1.5em;
    font-weight: bold;
}
   
.brief-card:hover {
    border-color: #195295;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.brief-card:hover>.brief-card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

  

/* MEDIA QUERIES */

/* Hide the Previous/Next buttons on larger screens */
@media (min-width: 319px) and (max-width: 499px) {
    #tab-navigation {
      display:none;
    }
    #small-screen-navigation {
        display: block;
    }
    .brief-card {
        height: 450px;
        
    }
}

  /* Show the tab navigation at 500px and above */
@media (min-width: 800px) {
    #tab-navigation {
      display: flex;
    }

    #small-screen-navigation {
        display: none;
    }

}

