<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>MamaBobo Restaurant</title>
</head>
<body>
    <main>
        <header class="relative container mx-auto p-2  ">
            <!--- Navbar-->
            <nav class="flex items-center justify-between space-x-3">
                <!-- Logo-->
                <div class="">
                    <a href="#" class="flex">
                        <img src="/static/img/icons/restaurantlogoicon.svg" alt="header-icon" class="w-20 h-20 mr-1">
                        <span class="mt-7 text-restaurant_green text-2xl font-bold font-poppins">MamaBobo <span class="text-restaurant_orange">Restaurant</span></span>   
                    </a>
                </div>
                <!-- Menu Items-->
                <div class="hidden md:flex space-x-5">
                    <a href="/index.html" class="font-inter font-bold text-black-400 hover:text-restaurant_green">Home</a>
                    <a href="#services" class="font-inter font-bold text-black-400 hover:text-restaurant_green">Services</a>
                    <a href="#menu" class="font-inter font-bold text-black-400 hover:text-restaurant_green">Menu</a>
                    <a href="#gallery" class="font-inter font-bold text-black-400 hover:text-restaurant_green">Gallery</a>
                    <a href="#about" class="font-inter font-bold text-black-400 hover:text-restaurant_green">About Us</a>
                    <a href="#contact_us" class="font-inter font-bold text-black-400 hover:text-restaurant_green">Contact Us</a>
                </div>
                
                <!--- Hamburger icon-->
                <button id="hamburger-menu-btn" class="block hamburger md:hidden focus:outline-none">
                    <span class="hamburger-top"></span>
                    <span class="hamburger-middle"></span>
                    <span class="hamburger-bottom"></span>
                </button>

                    <!--- Mobile Menu-->
                <div class="md:hidden">
                    <div id="hamburger-menu" class="absolute flex-col items-center hidden self-end py-6 mt-6 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                        <a href="/index.html">Home</a>
                        <a href="#">Services</a>
                        <a href="#">Menu</a>
                        <a href="#">Gallery</a>
                        <a href="#">About Us</a>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </nav>
        </header>

        <section id="hero" class="animated_hero">
            <div class="relative">
                <img src="/static/img/hero/faq.jpg" alt="faq" class="absolute overflow-hidden object-cover object-center">
                <h1 class="absolute left-1/2 top-1/3 -translate-x-1/2 z-1 font-bold font-inter md:text-2xl ">Frequently Asked Questions</h1>
            </div>
        </section>
        <section id="faq" class="container bg-white p-4">
            <div class="text-left pt-12 pr-3 pb-5 z-2">
                <h2 class="text-5xl pb-7 text-green-600 text-center">How can we help?</h2>
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis incidunt consequuntur aperiam aut qui culpa labore iure cumque tempora, adipisci perspiciatis.</li>
                </ul>
                
            </div>
        </section>
    </main>

    <!--- Gsap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>

    <!-- SCROLL REVEAL-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--- Main js-->
    <script src="/static/scripts/script.js"></script>

    
</body>
</html>